/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  /* 3. Enable keyword animations */
  @media (prefers-reduced-motion: no-preference) {
    html {
      interpolate-size: allow-keywords;
    }
  }
  
  body {
    /* 4. Add accessible line-height */
    line-height: 1.5;
    /* 5. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  
  /* 6. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 7. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 8. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 9. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    10. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

  main {
    background: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card {
    background: beige;
    height: 300px;
    padding: 14px 24px;
    border-radius: 1rem;
    box-shadow: 5px 5px black;
    text-align: center;
  }

  h1, h2 {
    color: rgb(99, 89, 76);
  }
  
  h2 {
    margin-bottom: 1rem;
  }

  .options {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    padding-bottom: 2rem;
  }

  .options > div {
    flex: 1;
  }

  button {
    width: 100%;
    background: white;
    border: none;
  }

  button:hover {
    background: rgb(227, 227, 227);
    cursor: pointer;
  }

  .scores {
    display: flex;
    justify-content: space-around;
  }